<!DOCTYPE html>
<html>
<head>
	<% include ./includes/roomba_header %>
	<% include ./includes/roomba_navbar %>
</head>
<body>
	<div class ="main">
		<%if(Language == "NL"){ %>
		<% include ./pages/roomba_info_en%>
		<%}else{ %>
		<% include ./pages/roomba_info_nl%>
		<%} %>
	</div>
</body>
<footer>
	<% include ./includes/roomba_footer %>
</footer>
</html>
