<!DOCTYPE html>
<html>
<head>
 <% include ./includes/roomba_header %>
</head>
 <% include ./includes/roomba_navbar %>
<body>
	<div class ="main">
		<%if(Language == "EN"){ %>
		<%- "<br>GO AWAY THERE IS NOTHING HERE!!<br>" %>
		<%}else{%>
		<%- "<br>GA WEG ER IS HIER NIKS!!<br>" %>
		<%}%>
	</div>
</body>
<% include ./includes/roomba_footer %>
</html>