<div class="discliamer" style= 	"font-family: arial, helvetica, sans-serif; margin-top: 20px; background-color: #fff0f0; border: 1px solid black; opacity: 0.8; filter: alpha(opacity=4s0);padding-left: 0px;padding-right: 0px;">
	<%if(Language == "EN"){ %>
	<%-"<h3>&emsp;Disclaimer:<br>&emsp;-The Roomba should be threated as a pet.<br>&emsp;-We aren't responsible for anything.<br></h3>&emsp;The Roomba also disclaims all of your moms."%>
	<%}else{%>
	<%-"<h3>&emsp;Disclaimer:<br>&emsp;-De Rumba dient als huisdier behandeld te worden.<br>&emsp;-Wij dragen nergens de verandwoordelijkheid voor.<br></h3>&emsp;Verder disclaimert de Roomba jullie allemaal de moeder."%>
	<%}%>
</div>