<footer>
<div class="disclaimer">
	<%if(Language == "EN"){ %>
	<%-"<h3>Disclaimer:<br>-The Roomba should be threated as a pet.<br>-We aren't responsible for anything.<br></h3>The Roomba also disclaims all of your moms."%>
	<%}else{%>
	<%-"<h3>Disclaimer:<br>-De Rumba dient als huisdier behandeld te worden.<br>-Wij dragen nergens de verandwoordelijkheid voor.<br></h3>Verder disclaimert de Roomba jullie allemaal de moeder."%>
	<%}%>
</div>
</footer>